{% block body %}

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>My Business Website</title>
    <link href="{% static 'SMMA/styles.css' %}" rel="stylesheet">
    <script src="{% static 'SMMA/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>
<body>
    <div class="navbar">
        <a href="#home">Projects</a>
        <a href="#about">Services</a>
        <a href="#contact">Faq</a>
    </div>

    <a href="https://forms.gle/ATnUNz8oq13gEbzw9" class="button">book a meeting</a>
    <div class="logo">
        <img class="logo"  src="{% static 'SMMA/Logo.png' %}" alt="Logo">
    </div>
    <h3>Welcome to Growthify</h3>
    <div class="container">
        <video controls class="vid">
            <source src="{% static 'SMMA/sampleVideo.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="testimonial-carousel">
    {% for testimonial in testimonials %}
        <div class="testimonial-card">
            <h2>{{ testimonial.name }}</h2>
            {% if testimonial.customer_photo %}
            <img class="testimonial-image" src="{{ testimonial.customer_photo.url }}" alt="{{ testimonial.name }}">
            {% endif %}
            <p id="test">{{ testimonial.testimonial }}</p>
        </div>
    {% endfor %}
    </div>
</body>
</html>

{% endblock %}
