{% block body %}

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Growthify</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="{% static 'SMMA/styles.css' %}" rel="stylesheet">
    <script src="{% static 'SMMA/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>

<!-- navbar -->

<section id="navabr">

<body>
    <div class="navbar">
        <a href="#navabr">Home</a>
        <a href="#services">Services</a>
        <a href="#faqs">Faq</a>
    </div>

    <a href="https://forms.gle/ATnUNz8oq13gEbzw9" class="button">book a meeting</a>
    <div class="logo">
        <img class="logo"  src="{% static 'SMMA/Logo.png' %}" alt="Logo">
    </div>
    <h3>Welcome to Growthify</h3>



</section>

<!-- embedded vid -->

<section id="video">

    <div class="about">
        <p>
            we are a makreting agency here to enhance your reach in the digital world. We offer a variety of services to
             help you grow your business..........
        </p>
      
    </div>

    <div class="hook">

      <a href="#services"><button class="spacing"> View pricing</button></a>
      <a href="#getStarted"><button class="spacing"> Get started !</button></a>

    </div>
    <div class="container">
        <video controls class="vid">
            <source src="{% static 'SMMA/video2.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</section>



<!-- getStarted-->
<section id="getStarted"> 
  <div class="start">
    <h2>Step by Step Process</h2>
  </div>
  <div class="card3">
  
    <ul>
        <h3>1.Discovery Call</h3>
        <h3>2.Strategy session</h3>
        <h3>3.Building a funnel system</h3>
        <h3>4.Automation</h3>
        <h3>5.Optimization</h3>
    </ul>
</div>

</section>

<!-- tetstimonials-->

<section id="testimonials"></section>
    <h3>Testimonials </h3>
    <div class="testimonial-carousel">
    {% for testimonial in testimonials %}
        <div class="testimonial-card">
            <h2>{{ testimonial.name }}</h2>
            {% if testimonial.customer_photo %}
            <img class="testimonial-image" src="{{ testimonial.customer_photo.url }}" alt="{{ testimonial.name }}">
            {% endif %}
            <p id="test">{{ testimonial.testimonial }}</p>
        </div>
    {% endfor %}
    </div>
</section>

<!-- services -->

 <h2> our services</h2>

<section id="services" >
 
    <div class="service-cards">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Simple 400$</h5>
            <p class="card-text">
              <ul>
                <li>Basic Landing page + CTA</li>
                <li>Content Strategy + Social Media Audit</li>
                <li>Cross Platform Ads ( Facebook , instagram )</li>
                <li>Slack VA services</li>
              </ul>
              </p>
              <div class="button-container">
                <a href="#" class="btn btn-primary">buy now </a>
              </div>
        </div>
      </div>
      <div class="card2" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body2">
          <h5 class="card-title">Pro 2999$</h5>
          <p class="card-text">
            <ul>
              <li>Full Custom Website ( Email list builder + CTA + Website Content + Traffic monitoring )`</li>
              <li>Full Stack CRM/Project management + Content management`</li>
              <li> Content Strategy + Social Media Audit</li>
              <li>  Cross platform ads( facebook , instagram ) </li>
              <li> SEO + Conversion optimization` </li>
              <li>Slack Automation</li>
              <li> VA services </li>
              <li >Unlimited revision on the website </li>
            </ul>
           </p>
           <div class="button-container">
            <a href="#" class="btn btn-primary">buy now </a>
          </div>
        </div>
      </div>
      <div class="card4" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Enterprise 1200$</h5>
          <p class="card-text">
            <ul>
              <li>Custom Website/Landing page ( Email list builder + CTA + Case studies )</li>
              <li>Website Audit + SEO optimization</li>
              <li>Project Management</li>
              <li>Cross platform ads( facebook , instagram )</li>
              <li>Slack VA services</li>
              <li>Unlimited revision on your strategy planning day</li>
            </ul>
            </p>
            <div class="button-container">
              <a href="#" class="btn btn-primary">buy now </a>
            </div>
        </div>
      </div>

    </div>

</section>

<!-- Faqs -->
<div class="more">
<h1>GOT MORE QUESTIONS?</h1>
<h4> feel free to contact us</h4>
</div>

<div class="faq-container">


<section id="faqs">
  <div class="faq">
      <h3 class="faq-question">Question 1?</h3>
      <p class="faq-answer">Answer to question 1.</p>
  </div>
  <div class="faq">
      <h3 class="faq-question">Question 2?</h3>
      <p class="faq-answer">Answer to question 2.</p>
  </div>
  <div class="faq">
    <h3 class="faq-question">Question 3?</h3>
    <p class="faq-answer">Answer to question 3.</p>
</div>
<div class="faq">
  <h3 class="faq-question">Question 4?</h3>
  <p class="faq-answer">Answer to question 4.</p>
</div>
<div class="faq">
  <h3 class="faq-question">Question 5?</h3>
  <p class="faq-answer">Answer to question 5.</p>
</div>
 


<!-- footer -->

</section>
</div>
<footer>
  <p>Growthify</p>
  <p>dhaka</p>
  <p>Socials: <a href="#">Facebook</a>, <a href="#">Twitter</a>, <a href="#">LinkedIn</a></p>
  <p>Developed by: ziaur rahman zia</p>
</footer>

</body>
</html>

{% endblock %}
