.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #013126c5;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}

.testimonial-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    margin: 0 auto;
    padding: 20px; 
    box-sizing: border-box; 
    position: relative; 

}

.testimonial-carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;  
    margin: 0 auto;  
    padding: 20px;  
    box-sizing: border-box; 
    position: relative;  
    border: 1px solid #979797;  
    border-radius: 10px;
}
.slick-slide {
    font-size: 30px;
    font-family: Arial, sans-serif; 
    
}


.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  
    height: 80px;
    width: auto
 
    
   
}

h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding: 10px;
    margin: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: center;
}

.vid {
    width: 100%; /* Adjust as needed */
    height: auto;
    margin-top: 300px
}

.testimonial-image {
    width: 50px;  /* adjust as needed */
    height: 50px;  /* adjust as needed */
    border-radius: 50%;  /* makes the image circular */
    position: absolute;
    top: 10px;  /* adjust as needed */
    right: 10px;
}


h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#test {
    /* Add your styles here. For example: */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





.slick-prev {
    display: none !important;  /* hides the previous button */
}

.slick-dots {
    display: none;  /* hides the page numbers (dots) */
}

.slick-next {
    position: absolute !important;
    bottom: 10px !important;
    right: 10px !important;
    margin: 10px;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
}


#services {
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}



.card{
    flex: 1 0 18rem;
    margin: 10px;
    border: 2px solid #808080;
    padding: 25px;
    border-radius: 15px;
    border: 2px solid #808080;
    height: 300px;
    width : 400px !important;
  
}

.card2{
    height: 400px;
    width : 420px !important;
    flex: 1 0 18rem  !important;
    margin: 10px  !important;
    border: 2px solid #808080  !important;
    padding: 25px  !important;
    border-radius: 15px  !important;
    border: 2px solid #808080  !important;

}

.card4{
    height: 350px;
    width : 420px !important;
    flex: 1 0 18rem  !important;
    margin: 10px  !important;
    border: 2px solid #808080  !important;
    padding: 25px  !important;
    border-radius: 15px  !important;
    border: 2px solid #808080  !important;

}

.service-cards{
    display: flex;
    justify-content: center !important;
    align-items: center;
    flex-wrap: wrap;
    
}

.h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.faq {
    border: 1px solid #000;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    width: 1000px;
}

.faq-question {
    cursor: pointer;
}

.faq-answer {
    display: none;
    text-align: center;
}

.faq-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 40px;
}

.more{
    margin: 50px;
   
}

footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #000; /* Add this line */
}


.hook{
    display: flex;
    justify-content: center;
    
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.spacing {
    margin-right: 20px;
}


.card3 {
    border: 1px solid #ddd; /* Add a border */
    border-radius: 5px; /* Add rounded corners */
    padding: 15px; /* Add some padding */
    margin: 15px auto; /* Add some margin and center the card */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Optional: Add a shadow */
    display: block; /* Add this line */
    width: 20%; /* Increase the width */
    height: 500px; 
}


.card2 h1, .card h2 {
    font-family: Arial, sans-serif !important;; /* Use Arial font */
    margin-bottom: 10px !important;;
}

.card2 h3 {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
}

.card2 ul h3 {
    font-family: Arial, sans-serif !important; /* Use Arial font */
    line-height: 1.6 !important;; /* Add some space between lines */
    font-weight: bold !important;;
    margin-bottom:  10px !important;
}

.start{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

section {
    margin: 50px; /* Adjust as needed */


}

.button-container {
    display: flex;
    justify-content: center;
}


html {
    scroll-behavior: smooth;
}