.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #013126c5;
   
    border-radius: 10px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    left: 100;
    margin: 20px;
    color: rgb(223, 216, 216);
    margin-top: 50px;


}


body{
    font-family: 'Poppins', sans-serif;
    background-image: 
    radial-gradient(circle at center, rgba(255, 255, 255, 0.005), rgba(255, 255, 255, 0.005) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 1px, transparent 1px);
    
    background-size: 300px 
    fixed;
    background-attachment: fixed;
    background-color: #131212; 
    color: #F8F8F8;
   

}

.testimonial-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    margin: 0 auto;
    padding: 20px; 
    box-sizing: border-box; 
    position: relative; 
   

}

.testimonial-carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;  
    margin: 0 auto;  
    padding: 20px;  
    box-sizing: border-box; 
    position: relative;  
    border: 1px solid #979797;  
    border-radius: 10px;
    margin-top: 70px;
}
.slick-slide {
    font-size: 50px;
    font-family: Arial, sans-serif; 
    
}

.left{
    margin-top: 50px;
}
.right{
    margin-top: 50px;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: left;
    border-radius: 50%;
    height: 100px;
    width: auto;
    margin: 7px;
}


h3 {
    display: flex;
   
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, blue, green); ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
  
}

.navbar {
    position: fixed;
    top: 0;
    left: 100px;
    background-color: #131212;
    padding: 10px;
    margin: 20px;
    margin-top: 50px;
    
}
.navbar-hide {
    top: -100px;
    transition: top 0.3s;
}

.navbar a {
    color: rgb(223, 216, 216);
    text-decoration: none;
    margin-right: 10px;
    margin: 20px;
    transition: color 0.5s ease;
 
}

.navbar a:hover {
    background: linear-gradient(45deg, rgb(0, 255, 200), rgb(0, 255, 106));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    display: flex;
    justify-content: center;
  margin-top: 250px;
}

.vid {
    width: 100%; /* Adjust as needed */
    height: auto;
}

.testimonial-image {
    width: 50px;  /* adjust as needed */
    height: 50px;  /* adjust as needed */
    border-radius: 50%;  /* makes the image circular */
    position: absolute;
    top: 10px;  /* adjust as needed */
    right: 10px;
}
.money{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.norm{
    font-size: 50px;
}


h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,white, rgb(4, 226, 89)) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 240px;
 
    
 
    
}

#test {
    /* Add your styles here. For example: */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





.slick-prev {
    display: none !important;  /* hides the previous button */
}

.slick-dots {
    display: none;  /* hides the page numbers (dots) */
}

.slick-next {
    position: absolute !important;
    bottom: 10px !important;
    right: 10px !important;
    margin: 10px;
    color: #808080;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
}


#services {
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}



.card{
    flex: 1 0 18rem;
    margin: 10px;
    border: 2px solid #808080;
    padding: 25px;
    border-radius: 15px;
    border: 2px solid #808080;
    height: 300px;
    width : 400px !important;
    background-color:   #131212; 
    transition: transform 0.3s ease-in-out; /* Add this line */
;
    
}
.card:hover {
    transform: translateY(-10px);
 
   
}


.card2{
    height: 400px;
    width : 420px !important;
    flex: 1 0 18rem  !important;
    margin: 10px  !important;
    border: 2px solid #808080  !important;
    padding: 25px  !important;
    border-radius: 15px  !important;
    border: 2px solid #808080  !important;

}

.card4{
    height: 350px;
    width : 420px !important;
    flex: 1 0 18rem  !important;
    margin: 10px  !important;
    border: 2px solid #808080  !important;
    padding: 25px  !important;
    border-radius: 15px  !important;
    border: 2px solid #808080  !important;
    transition: transform 0.3s ease-in-out; /* Add this line */

}
.card4:hover {
    transform: translateY(-10px); /* Add this block */
}

.service-cards{
    display: flex;
    justify-content: center !important;
    align-items: center;
    flex-wrap: wrap;
    
}




.h1{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, blue, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.faq {
    border: 1px solid #333333;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    width: 1000px;
}

.faq-question {
    cursor: pointer;
    text-align: left !important;
}

.faq-answer {
    display: none;
    text-align: left;
    font-size: smaller;
    line-height: 1.75rem;
}

.faq-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 40px;
}

.more{
    margin: 50px;
   
}

footer {
    background-color:  #1d1d1d; 
    padding: 20px;
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #f8f5f5; /* Add this line */
}


.hook{
    display: flex;
    justify-content: center;
    
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.bi {
    font-size: 24px; /* Adjust the size of the icons */
    color: rgb(223, 216, 216); /* Set the color of the icons */
    margin: 0 10px; /* Add some space between the icons */
    transition: color 0.5s ease; /* Smooth transition */
    /* Adjust as needed */
}

.bi:hover {
    color: #00ffbf; /* Change the color on hover */
}

.spacing {
    margin-right: 20px;
    display: inline-block;
    border-radius: 10px;
    border: 2px solid rgb(36, 36, 36);
    color: white;
    text-align: center;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 0px rgba(51, 105, 92, 0.75);
 
    cursor: pointer;
    background: linear-gradient(to right, #1d1d1d 50%, rgb(54, 199, 119) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
    margin-top: 50px;

    padding: 15px 30px;
}
.spacing:hover {
    background-position: left bottom;
}



.card2 h1, .card h2 {
    font-family: Arial, sans-serif !important;; /* Use Arial font */
    margin-bottom: 10px !important;;
}

.card2 h3 {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
}

.card2 ul h3 {
    font-family: Arial, sans-serif !important; /* Use Arial font */
    line-height: 1.6 !important;; /* Add some space between lines */
    font-weight: bold !important;;
    margin-bottom:  10px !important;
}
.card2{
    position: relative;
    transition: transform 0.3s ease-in-out;
  }
  .card2:hover {
    transform: translateY(-10px); /* Add this block */
}

.start{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

section {
    margin: 50px; /* Adjust as needed */


}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1000px !important;

}


html {
    scroll-behavior: smooth;
    
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.card-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.card {
    width: 45%;
}

.right {
    display: block;
    margin-left: auto;
    width: 40%; /* adjust as needed */
}

.discovery{
    font-size: 40px;
}

.card-text2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 30px;
    font-size: 21px;
    color: #808080;
}


.service-cards2, .cardg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    flex: 1 0 auto; /* Add this line to both classes */
     /* Add this line to .service-cards2 */
  
}

.cardg{
    border: 1px solid #f8f5f5;
    font-size: 15px;
    width: 200px; /* Set a specific width */
    height: 300px; /* Set a specific height */
    overflow: auto;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}
.cardg:hover {
    background-color: rgb(89, 151, 113); /* Replace #yourHoverColor with your desired hover color */
  }

.gradient-text {
    background: linear-gradient(45deg, rgb(0, 255, 200), rgb(0, 255, 106));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.promise{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   font-size: 20px;
   color: #808080;
   margin-top: -75px;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
    background: linear-gradient(45deg, rgb(0, 238, 186), rgb(9, 255, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 30px;
    font-size: 70px;
  
}
.home2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
    color: #808080;
    margin-top: 150px;
}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
  }

.line {
    height: 2px; /* thickness of the line */
    background-color: #69b390; /* color of the line */
    width: 20%; /* width of the line */
    border-radius: 50%;
  }




.Socials {
    display: flex;
    justify-content: flex-start; /* Aligns items to the start of the container */
    margin-top: -70px;
}

.Socials a i {
    font-size: 30px; /* Adjust as needed */
    margin-right: 30px; /* Adjust as needed */
}

@import url('https://fonts.googleapis.com/css?family=Anton');




h4{
    color: #808080;
}
  
.para{
    font-size: 20px;
}


.most-recommended {
    display: block;
    width: 100px;
    height: 30px;
    background-color: #921100;
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 5px 0 0 5px;
    position: absolute;
    top: 0%; /* Adjust this value to move the element up/down */
    left: 0%;
 
  }

  .btn{
    color: #808080;
    background-color: #131313;
    border: 2px solid #808080;;
  }

  .btn:hover {
    background-color: gray;/* Change this to your desired hover color */
  }

.arrow{
    text-align: right;
}



@keyframes slideUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .show-items {
    animation: slideUp 4s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
  }


  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .show-items-left {
    animation: slideInLeft 3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
  }
  
  .show-items-right {
    animation: slideInRight 3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
  }